In today's class we will discuss about

 what is function,

 how function going to work, 
 
 how can we create out own function, 
 
 how I able to acheive a code reusability with the help of the function

# len keyword giving us 4? now what is len?

list, function, tuples, set, dict, print, len, loops and so on, someone has a created and we just using that.

all this functions are created by someone & its possible to create our own function as well.

In [1]:
len("sudh")

4

How we print?

    because someone has already created a function.

In [2]:
print("asdfadsfadf")

asdfadsfadf

As a part of the modular coding we should our own function.

While production we can't able to create a line by line code again and again.

 At that point of the time, we must use complete modular codings only, 

Modular coding means 

    Functions, 
    objects,
    Classes,
    logging,
    monitoring,
    moduling,
    scheduling,
    Navi convengences,

    all of these things are modular codings

In [3]:
print("asdfadsfadf")

asdfadsfadf

# Function

# Function means write once use many times

In [4]:
def test():

SyntaxError: incomplete input (3861551224.py, line 1)

In [5]:
def test():
    pass

In [6]:
def test1():
    print("this is my first function")

Suppose I want this statements multiple time (1 lakh times)

I dont want to write again and again and again.

simply create the function

In [7]:
test1()

this is my first function

In [8]:
test1()

this is my first function

In [9]:
a = test1()

this is my first function

In [10]:
a

# print always return in a none type

#### It will not work because its a none type

#### If we use a function we should use a return keyword then only we will get a correct datatype

In [11]:
a + "sudh"

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [ ]:
type(a)

NoneType

In [ ]:
type(test1())

this is my first function

NoneType

In [12]:
"sudh" + "kumar"

'sudhkumar'

In [13]:
test1() + "Kumar"

this is my first function

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [15]:
a = test1()

this is my first function

In [16]:
str(a)

'None'

# How can we create a function and do some concatenation in function statement

# return keyword

In [17]:
def test2():
    return "this is my first python function"

In [18]:
test2()

'this is my first python function'

In [19]:
type(test2())

str

In [20]:
test2() +"str"

'this is my first python functionstr'

In [21]:
def test3():
    return 235435

In [22]:
test3()

235435

In [23]:
type(test3())

int

In [24]:
test3() + 77

235512

Is it possible to return a multiple things?

    Yes, its possible to return a multiple things

Arguments always returns in a tuples

In [25]:
def test4():
    return 4,3,"sudh",[1,2,3,4,5]

In [26]:
test4() #it is going to return a output in collection

(4, 3, 'sudh', [1, 2, 3, 4, 5])

In [27]:
type(test4())

tuple

In [28]:
b = test4()

In [29]:
b[0]

4

In [30]:
b[1]

3

In [31]:
b[2]

'sudh'

In [32]:
b[3]

[1, 2, 3, 4, 5]

# How to hold this entire test4 output in different different variable?

In [33]:
a, b, c, d = test4()

In [34]:
a, b, c= test4()

ValueError: too many values to unpack (expected 3)

In [ ]:
a, b, c, d, e = test4()

ValueError: not enough values to unpack (expected 5, got 4)

In [ ]:
x, y , u, v = test4()

In [35]:
x

NameError: name 'x' is not defined

In [ ]:
y

NameError: name 'y' is not defined

In [ ]:
u

'sudh'

In [36]:
v

NameError: name 'v' is not defined

In [ ]:
def test5():
    a = 6 * 7 / 6
    return a

In [37]:
test5()

NameError: name 'test5' is not defined

Someone has created a len function, if I pass my data it will show my length of the data

In [38]:
len("afdasdf")

7

# how can I create a function like this (len, & so on)

#### suppose if I pass my data, It will giving a output

# Question

I would like to write a function, where it will going to take list as a input, and it is going to return list as a output. (return what? just a list of integer)

Question vandhu namma thara input list ah irukum and andha integer la irukka integer ah print pannanum idhan question

In [39]:
l = [3,4,5,6,7,7,"sudh",[1,3,4,54,56]]

#### My code

In [40]:
out=[]

def test6():
    for i in l:
        if type(i)==list:
            out.append(i)
        else:
            pass
    return out

test6()

[[1, 3, 4, 54, 56]]

#### His code

In [41]:
s = [1,2,3,4,5,6,7,8,9, "sudh", (1,2,3,4,"asdf")]

In [42]:
def test6(a):
    out = []
    if type(a) == list:
        for i in a:
            if type(i) == int:
                out.append(i)
    return out

We can directly pass the data or hold inside the variable.

In [43]:
test6(l)

[3, 4, 5, 6, 7, 7]

In [44]:
test6(s)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [45]:
test6([6,7,8,5,8,8,9,3,6,5,4,5,"asdfdsafsd",("afsd","asdf"),34])

[6, 7, 8, 5, 8, 8, 9, 3, 6, 5, 4, 5, 34]

In [46]:
test6()

TypeError: test6() missing 1 required positional argument: 'a'

In [ ]:
len() #it will not run, because we need data inside, similar way we want to use in python function in above line

TypeError: len() takes exactly one argument (0 given)

In [ ]:
type(test6(l))

list

In [47]:
type(test6(s))

list

#### function name kulla variable poduradhu naala namma endha data va venalum, eppa venalum pass pannikalam,

#### same condition ah again and again loop la eludhama ipdi simple ah use pannitu poiralam

# If we dont want a code again and again 

# We just want to create a functions like this def test(a): ........

In [48]:
#someone code

l = [3,4,5,6,7,7,"sudh", [1,3,4,54,56],6,7]

In [49]:
def test6(a):
    n = []
    if type(a) == list:
        for i in a:
            if type(i) == int:
                n.append(i)
            elif type(i) == list:
                for j in i:
                    if type(j) == int:
                        n.append(j)
    return n

In [50]:
test6(l)

[3, 4, 5, 6, 7, 7, 1, 3, 4, 54, 56, 6, 7]

# Question

Write a function where it is supposed to return me a keys in a dictionary.

Take input as a dictionary and return me a only keys in a dictionary.

In [51]:
d = {"ineuron" : [1,2,3,4,5], "course" : "dasdfa", "age" : 23, "email" : "sadfasdf@gmail.com"}

In [52]:
d

{'ineuron': [1, 2, 3, 4, 5],
 'course': 'dasdfa',
 'age': 23,
 'email': 'sadfasdf@gmail.com'}

In [53]:
e = {"ineuron" : [1,2,3,4,5], "course" : "dasdfa", "age" : 23, "email" : "sadfasdf@gmail.com"}

In [54]:
def test7(c):
    l = []
    for i in c.keys():
        l.append(i)
    return l

In [55]:
test7(e)

['ineuron', 'course', 'age', 'email']

In [56]:
test7(d)

['ineuron', 'course', 'age', 'email']

# His code

In [57]:
def test8(c):
    if type(c) == dict:
        return c.keys()
    else:
        return "you have not passed a dict"

In [58]:
test8("asfdadf")

'you have not passed a dict'

In [59]:
test8({"a":"dsaf", "b":123111169745,"c":[1,2,3,4,5,6,7,8,9]})

dict_keys(['a', 'b', 'c'])

Ivalo neram oru input edukuradhukku function paathom, but what if we want to take multiple input

# Question

# write a function which are going to take a multiple input

Write a function if both

In [60]:
def test9(a,b):
    if type(a) == list and type(b) == list:
        a.extend(b)
        return a
    else:
        return "either of your data is not a list"

In [61]:
test9(2)

TypeError: test9() missing 1 required positional argument: 'b'

In [62]:
test9(2,3)

'either of your data is not a list'

In [63]:
test9(2, "afsadsfDF")

'either of your data is not a list'

In [64]:
test9([1,2,30], [3,4,5,6,7,8,9,0])

[1, 2, 30, 3, 4, 5, 6, 7, 8, 9, 0]

# Question

Write a function that pass number of rows and columns it supposed to give me a kind of triangle (eg 3 rows and 3 columns na - 3 rows & 3 columns ku triangle varanum)

In [65]:
for i in range(0, 5):
    for j in range(0, i):
        print("*", end=" ")
    print("\r")

*
* *
* * *
* * * *

In [66]:
def test10(n):
    for i in range(0, n):
        for j in range(i+1):
            print("*", end = "")
        print("")

In [67]:
test10(5)

*
**
***
****
*****

In [68]:
def triangle(rows):
    """This is a function to create a triangle,
    you can give input as an int
    and you will be able to get output as a triangle"""
    if type(rows) == int:
        for i in range(0, rows):
            for j in range(i+1):
                print(".", end=" ")
            print("\n")

In [69]:
triangle(5)

.

. .

. . .

. . . .

. . . . .

In [70]:
def test10(n):
    for i in range(0, n):
        for j in range(0, i+1):
            print("o", end=" ")
        print("\r")

In [71]:
test10(5)

o
o o
o o o
o o o o
o o o o o

# How to create a doc string?

### Its too easy, within a function use 3 quotes and write the statement

In docstring what type of the function is this.

What type of the Input its going to take.

What type of the output its going to take.

We can mention all of these statements in the docstrings.

In [72]:
def test10(n):
    """This is a function which will help you to create a triangle with any number of rows and columns"""
    for i in range(0, n):
        for j in range(0, i+1):
            print("o", end=" ")
        print("\r")

In [73]:
help(test10)

Help on function test10 in module __main__:

test10(n)
    This is a function which will help you to create a triangle with any number of rows and columns

In [74]:
help(triangle)

Help on function triangle in module __main__:

triangle(rows)
    This is a function to create a triangle,
    you can give input as an int
    and you will be able to get output as a triangle

In [75]:
help(test10(7))

o
o o
o o o
o o o o
o o o o o
o o o o o o
o o o o o o o
Help on NoneType object:

class NoneType(object)
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [76]:
help(test10)

Help on function test10 in module __main__:

test10(n)
    This is a function which will help you to create a triangle with any number of rows and columns

# We Knew basic definition of a function

#### why we creating a function

#### what is the difference between print and return

#### How I able to convert my logic, How I able to keep my logic within a function.

#### How I able to acheive the reusability of the code.

#### What is a single line comments & multiple line comments

#### What is docstring and how can we create a docstring

# Assignments

#### Next video Inga avunga question kudutha naala inga andha code ah write panni irukean

# Question No. 1

1. You have to write a fun which will take string and return a len of it without using a inbuilt fun len.

#### My code

In [77]:
word = input("Enter your word here : " )

def func():
    l = 0
    for i in word:
        l = l+1
    return l

func()

0

In [78]:
def func1(a):
    l = 0
    for i in a:
        l = l+1
    return l

func1("asdfasdfasdfadsadfasdfadsfasdfdsdf")

34

He will teach assingnments solution later

In [79]:
def test(a,b,c,d,e):
    return a,b,c,d,e

In [80]:
test(34,56,76,786,878)

(34, 56, 76, 786, 878)

#### Here we passing 5 data, may be tomorrow we can passing n number of data, lakhs number of datas, thousand number of data, may be we can pass less than 5 number of data

We should use *args (*args is not a reserved keyword, we can use any name after * symbol)

    * means any number of arguments

while using *args we can pass any number of arguments here

*args is a notation by which it is trying to consider any number of variable that I would like to pass at any point of the time.

In [81]:
def test1(*args):
    return args

In [82]:
test1(2,3,4,5,6,7,8)

(2, 3, 4, 5, 6, 7, 8)

In [83]:
test1(23, "args", [1,2,3,4,5,6,7], (1,2,3,4,5,6,7,8,9,0))

(23, 'args', [1, 2, 3, 4, 5, 6, 7], (1, 2, 3, 4, 5, 6, 7, 8, 9, 0))

In [84]:
test1([1,2,3,4,5], (1,2,37,9,8,99), "asdf", 13)

([1, 2, 3, 4, 5], (1, 2, 37, 9, 8, 99), 'asdf', 13)

In [85]:
def test2(*sudh):
    return sudh

In [86]:
test2("asdfadf", 345, "1654466", 31546)

('asdfadf', 345, '1654466', 31546)

While using args we can pass 4 arguments, 40000 arguments, any number of arguments

In [87]:
def test3(*sudh, a):
    return sudh, a

In [88]:
test3(34,56,77) #idhula *sudh nu irukka naala ella arguments ah yum eduthukurum, last la irukka "a" ku edhuvum irukadhu

# idhula kuduthu irukka 3 value la edhu "a" value nu theriyala adhan error varudhu

TypeError: test3() missing 1 required keyword-only argument: 'a'

In [89]:
test3(34,56, a=77)

((34, 56), 77)

In [90]:
test3(a=77, 34,56)

SyntaxError: positional argument follows keyword argument (2018018053.py, line 1)

In [91]:
test3(34, a=54, 77)

SyntaxError: positional argument follows keyword argument (295108531.py, line 1)

In [92]:
test3(34,56,786, a=6456)

((34, 56, 786), 6456)

In [93]:
def test3(a, *sudh):
    return sudh, a

In [94]:
test3("fdas", 2354, 54.56, a="afds")

TypeError: test3() got multiple values for argument 'a'

In [95]:
def test3(a, *sudh):
    return a, sudh

In [96]:
test3("fdas", 2354, 54.56, a="afds")

TypeError: test3() got multiple values for argument 'a'

In [97]:
def test3(a, *sudh):
    return a, sudh

Data la positional arguments kudutha error varudhu kudukalaina error varala

In [98]:
test3(a="fdas", 2354, 54.56)

SyntaxError: positional argument follows keyword argument (1796028406.py, line 1)

In [99]:
test3("fdas", 2354, 54.56)

('fdas', (2354, 54.56))

In [100]:
def test4(*sudh, a,b,c,d):
    return sudh, a,b,c,d

In [101]:
test4(345,3132,3,5,4,6,a=[4,5,7,7,4], b=[34,6,4,9,480], c="asdf", d=345.6565)

((345, 3132, 3, 5, 4, 6),
 [4, 5, 7, 7, 4],
 [34, 6, 4, 9, 480],
 'asdf',
 345.6565)

In [102]:
def test5(a, *sudh, b, c):
    return a, sudh, b, c

In [103]:
test5(546, "adf", 56,15,5,11,6,8,9,7, b= 65, c=51)

(546, ('adf', 56, 15, 5, 11, 6, 8, 9, 7), 65, 51)

In [104]:
test5("sdfsadff", [2,3,4,5], 546, 645, 6413)

TypeError: test5() missing 2 required keyword-only arguments: 'b' and 'c'

In [105]:
test5("sdfsadff", [2,3,4,5], 546, 645, 6413, b="asfd", c="afdcs")

('sdfsadff', ([2, 3, 4, 5], 546, 645, 6413), 'asfd', 'afdcs')

# Question

User can pass any type of the data, but I want only list

In [106]:
def test6(*args):
    for i in args:
        if type(i) == list:
            return i

In [107]:
test6("asfd", 23,96,46,46,46,[2,3,54,54,485,4,"afds"])

[2, 3, 54, 54, 485, 4, 'afds']

Here we pass 2 list, but we get only one list in output how can we solve this problem?

In [108]:
test6(65,165,5463,6,[1,651,61,61,6], [16,164,646,6], "asfd")

[1, 651, 61, 61, 6]

In [109]:
def test6(*args):
    l=[]
    for i in args:
        if type(i) == list:
            l.append(i)
    return l

In [110]:
test6(65,165,5463,6,[1,651,61,61,6], [16,164,646,6], "asfd")

[[1, 651, 61, 61, 6], [16, 164, 646, 6]]

# Question

Can we pass n number of data?

    Yes, we can pass n number of data, (tens, lakhs, million, billion etc)

Question is someone asking me

Create a function that will be able to n number of data but data as a key, value pair.

In [111]:
def test7(**kwargs):
    return kwargs

In [112]:
test7(23,45,4,4,4,5,45,458,4)

TypeError: test7() takes 0 positional arguments but 9 were given

In [113]:
test7(a=5, b="asdfsdf", c=26326, d=23.77)

{'a': 5, 'b': 'asdfsdf', 'c': 26326, 'd': 23.77}

In [114]:
test7(a = 345, b = [45,2,16,26,1,3,5,7])

{'a': 345, 'b': [45, 2, 16, 26, 1, 3, 5, 7]}

In [115]:
def test8(**sudh):
    return sudh

In [116]:
test8(b = 7999999, c=2694584, s=65)

{'b': 7999999, 'c': 2694584, 's': 65}

# How to pass a number as a key?

In [117]:
#how we pass number key

#we always want to pass a key in a name only.

test8(2=215, 3=165)

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (1908952539.py, line 5)

Question

In [118]:
def test9(**sudh):
    return sudh

In [119]:
test9(name = "sudh", age="43", phone_no = 1616564163416, mail_id = "adsfadsfsdfa", address = "23/15, afsdadsfa d")

{'name': 'sudh',
 'age': '43',
 'phone_no': 1616564163416,
 'mail_id': 'adsfadsfsdfa',
 'address': '23/15, afsdadsfa d'}

In [120]:
def test10(a, **sudh):
    return sudh, a

In [121]:
test10(45, 67, 64, 848, 216, 2165,99)

TypeError: test10() takes 1 positional argument but 7 were given

In [122]:
test10(45, 67, 64, 848, 216, 2165,99)

TypeError: test10() takes 1 positional argument but 7 were given

In [123]:
test10(45, a=67, b=78, c=7, d=8, e=78)

TypeError: test10() got multiple values for argument 'a'

In [124]:
test10(45, t=67, b=78, c=7, d=8, e=78)

({'t': 67, 'b': 78, 'c': 7, 'd': 8, 'e': 78}, 45)

We won't able to write a *args and **kwargs in at the time without a sequence order

In [125]:
def test11(a, **sudh, *args):
    return sudh, a, args

SyntaxError: arguments cannot follow var-keyword argument (3633435666.py, line 1)

We can write a positional arguments, arguments, and keywoard arguments in a sequence format.

We cant able to create a *args after **kwargs

In [126]:
def test12(a, *args, **kwargs):
    return a, args, kwargs

In [127]:
# here a very first arguments takes as a positional arguments
test12(45,15,51,5,6,616,16,16,416,14, g = 12661, c=146987)

(45, (15, 51, 5, 6, 616, 16, 16, 416, 14), {'g': 12661, 'c': 146987})

In [128]:
# we always keep it *args before **kwargs if we using both in same time
# def test13(*args, **kwargs)

# Lambda Function

how to create a function without a name.

lambda function is a anonymous function.

In [129]:
lambda x, y : x+y

In [130]:
x = lambda x, y : x+y

In [131]:
x(2,5)

7

In [132]:
lambda a, b : a * b

In [133]:
a = lambda a, b : a * b

In [134]:
a(45,67)

3015

In [135]:
a = lambda a,b : (a*b, a+b)

In [136]:
a(45,67)

(3015, 112)

In [137]:
a = lambda *a : a

In [138]:
a(45,61,4,4,41,51,61,1,5,1,7,9)

(45, 61, 4, 4, 41, 51, 61, 1, 5, 1, 7, 9)

In [144]:
a = lambda a, b : (a*b, a+b)

In [145]:
a(5,2)

(10, 7)

# Why this code not working?

# (*args (* of any kind of the things we will pass) that will be consider as a tuples)

# Tuples to tuples multiplication not going to work

In [139]:
a = lambda *a : a*a

In [140]:
a(5,5)

TypeError: can't multiply sequence by non-int of type 'tuple'

In [141]:
v = lambda *i : i**2

In [143]:
v(2,5)

TypeError: unsupported operand type(s) for ** or pow(): 'tuple' and 'int'

In [166]:
a = lambda x :[ print(i) for i in x]

In [167]:
a("asdfasdfadf")

a
s
d
f
a
s
d
f
a
d
f

[None, None, None, None, None, None, None, None, None, None, None]

In [174]:
x = lambda *a : [print(i) for i in a]

In [175]:
x(2,3,5,5,6)

2
3
5
5
6

[None, None, None, None, None]

In [176]:
x([2,3,21,15,9,7])

[2, 3, 21, 15, 9, 7]

[None]

In [209]:
l  = [4,5,6,7,8]

l1=[]
for i in l:
    l1.append(i)

In [210]:
l1

[4, 5, 6, 7, 8]

# List comprehension

In [211]:
[i for i in l]

[4, 5, 6, 7, 8]

# Same thing like list comprehension we want to use in lambda function

In [212]:
x = lambda x : [ i for i in x]

In [213]:
x(43)

TypeError: 'int' object is not iterable

In [214]:
x([43])

[43]

# How to pass a keyword argument in lambda function.

In [215]:
a = lambda **kwargs : kwargs

In [216]:
a(a=15, b=23)

{'a': 15, 'b': 23}

In [221]:
a(a = 45, b = 56)

{'a': 45, 'b': 56}

# New concept

# a is a variable outside the function,

# when I'm trying to call test16 and tried to pass the external values

#### c will be holding the value of a

In [253]:
a = 10 

def test16(c, d):
    return c*d

#a is a variable which available outside of the function, then we written the funciton

In [254]:
test16(a, 50)

500

# Why below function output is going to be a same answer?

In [255]:
# a is a variable outside of the function, again we gave a value inside the function
# That c value is actually consider as 10, its not considering as "a".

a = 10

def test16(c, d):
    a = 5
    return c*d

In [229]:
test16(a, 50)

500

# Ok lets we change into c value instead of a value.

Function kulla irukka varaibale oda value andha function la irukka return ku mattum dhan use aagum

But, function ku velila irukka variable value vandhu global value nu solluvanga,

adha overall use aagum

Keela irukka code puriyadha madhiri irukum, but adha nalla paatha why c value 10 varudhunu ellame puriyum.

In [232]:
c = 10 # Global Declaration

def test16(c, d):
    c = 5 # Local Declaration
    return c*d

In [237]:
test16(c, 50)

250

In [236]:
c

10

# List Comprehension

# Question

Try to add 2 in each and every element in the list and print the final answer.

In [261]:
l = [1,2,3,4,5,6,78,7,88,7]

In [262]:
l1 = []
for i in l:
    l1.append(i+2)
l1

[3, 4, 5, 6, 7, 8, 80, 9, 90, 9]

In [263]:
l1

[3, 4, 5, 6, 7, 8, 80, 9, 90, 9]

Write this things in the function

In [264]:
l

[1, 2, 3, 4, 5, 6, 78, 7, 88, 7]

In [267]:
def test17():
    l2=[]
    for i in l:
        l2.append(i+2)
    return l2

In [268]:
test17()

[3, 4, 5, 6, 7, 8, 80, 9, 90, 9]

#### write in funciton using positional arguments

In [270]:
l

[1, 2, 3, 4, 5, 6, 78, 7, 88, 7]

In [277]:
def test17(a):
    l3=[]
    for i in a:
        l3.append(i+2)
    return l3

In [278]:
test17(l)

[3, 4, 5, 6, 7, 8, 80, 9, 90, 9]

Write in lambda function

In [279]:
l

[1, 2, 3, 4, 5, 6, 78, 7, 88, 7]

In [290]:
x = lambda x : [i+2 for i in x]

In [291]:
x(l)

[3, 4, 5, 6, 7, 8, 80, 9, 90, 9]

In [292]:
a = lambda x : [i+2 for i in l]

In [293]:
a(l)

[3, 4, 5, 6, 7, 8, 80, 9, 90, 9]

Now write in list comprehension

In [294]:
l

[1, 2, 3, 4, 5, 6, 78, 7, 88, 7]

In [295]:
a = [i+2 for i in l]

In [296]:
a

[3, 4, 5, 6, 7, 8, 80, 9, 90, 9]

In [297]:
[i+i for i in l]

[2, 4, 6, 8, 10, 12, 156, 14, 176, 14]

In [298]:
[i*i for i in l]

[1, 4, 9, 16, 25, 36, 6084, 49, 7744, 49]

In [301]:
[(i, i+i, i**2) for i in l]

[(1, 2, 1),
 (2, 4, 4),
 (3, 6, 9),
 (4, 8, 16),
 (5, 10, 25),
 (6, 12, 36),
 (78, 156, 6084),
 (7, 14, 49),
 (88, 176, 7744),
 (7, 14, 49)]

In [302]:
[(i**2, i+i) for i in l if i<4]

[(1, 2), (4, 4), (9, 6)]

In [303]:
[i+i for i in l if i<=7]

[2, 4, 6, 8, 10, 12, 14, 14]

How to write multiple if condition

In [311]:
[(i**2,i+i) for i in l if i>5 if i<9]

[(36, 12), (49, 14), (49, 14)]

In [312]:
[i for i in l if i>5 if i<9]

[6, 7, 7]

In [306]:
l1=[]
for i in l:
    if i<4:
        l1.append((i**2, i+i))

l1

[(1, 2), (4, 4), (9, 6)]

# Dictionary comprehension

how to create a key is a number and value is a square of key

In [313]:
d = {1:1, 2:4, 3:9}

In [314]:
{i:i**2 for i in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [318]:
d1 = {}

for i in range(10):
    d1[i] = i**2

In [319]:
d1

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

# Tuples comprehension

In [320]:
(i for i in range(10))

My expectation is tuples output, but the output showing its a generator object

How to see the value ? just write tuple before that comprehension

In [323]:
tuple(i for i in range(10))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

# What is the meaning of the iterator and generator?

#### string is a iterable object and int is not a iterable object

int is not a iterator object that's completly fine

In [328]:
a = 56

for i in a:
    print(i)

TypeError: 'int' object is not iterable

string is a iterable object

In [330]:
a = "sudh"

for i in a:
    print(i)

s
u
d
h

In [332]:
next(a)

TypeError: 'str' object is not an iterator

#### Integer is not a iterable object
and
string is a iterable object

In [1]:
a = 56

for i in a:
    print(i)

TypeError: 'int' object is not iterable

In [2]:
s = "sudh"

for i in s:
    print(i)

s
u
d
h

next is the function which will extract one element at the time and give it to you

In [3]:
next(s)

TypeError: 'str' object is not an iterator

# What is the difference between iterable and iterator?

#### If an object is holding a values with the help of some sort of indexes and if we access the values with the help of indexes, that kind of the object is the iterable object

An iterable is basically an object that any user can iterate over.

An iterator is also an object that helps a user in iterating over another object (that is iterable)

In [6]:
s = "sudh"

for i in s:
    print(i)

s
u
d
h

In [7]:
s

'sudh'

In [11]:
next(s)

TypeError: 'str' object is not an iterator

#### iter function will be able to convert the iterable into iterator

iter function will convert the iterable into iterator

In [9]:
b = iter(s)

In [10]:
b

In [13]:
next(b)

's'

In [14]:
next(b)

'u'

In [15]:
next(b)

'd'

In [16]:
next(b)

'h'

In [17]:
next(b)

StopIteration:

By default string is a iterable, 

iterable means ------> An elements which we can access in the sequential manner

#### When we will able to access?

When we will able to convert the same element into iterator, then we will able to access.

#### How for loop is working internally ? adhu pathi dhan iterable la solli kuduthanga

In [21]:
s = "asfasfdasdf" #by default its a iterable, but its possible to iterate one one element

for i in s:
    print(i)

a
s
f
a
s
f
d
a
s
d
f

In [25]:
# string is a iterable, now I convert into the iterator

In [26]:
iter(s)

In [27]:
s = iter(s)

In [28]:
next(s)

'a'

In [29]:
next(s)

's'

In [30]:
next(s)

'f'

In [31]:
next(s)

'a'

In [32]:
next(s)

's'

In [33]:
next(s)

'f'

In [34]:
next(s)

'd'

In [35]:
next(s)

'a'

In [36]:
next(s)

's'

In [37]:
next(s)

'd'

In [38]:
next(s)

'f'

In [39]:
next(s) #last element apram edhum illa, adhunaala ipdi varudhu

StopIteration:

indha examples ellam edhukku na 

namma for loop use pannadrapa adhu ipdi dhan work aagudhu

whenever we use for loop,

first for loop will convert the iterable into iterator, & then one by one, one by one iterate that

In [41]:
l = [3,4,5,6] # list is a iterable

In [43]:
next(l)

TypeError: 'list' object is not an iterator

#### Below code will not going to work

Because int is not a iterable object

if something is not a iterable, I will not able to convert it into iterator

# WE CAN'T MAKE AS A ITERABLE AT ALL

int is not a iterable element, & we won't able to iterate over to it one by one at any point of the time.

Its not possible

In [44]:
iter(45) # I will not able to convert into the iterator

TypeError: 'int' object is not iterable

In [46]:
l

[3, 4, 5, 6]

In [48]:
iter(l) #I'm able to convert the list into iterator

In [49]:
l = iter(l)

In [50]:
next(l)

3

In [51]:
next(l)

4

In [52]:
next(l)

5

In [53]:
next(l)

6

In [54]:
next(l)

StopIteration:

# Difference between index and iteration

Indexing are not same as a iterator, iterator simply means that in a sequential manner one by one in that case is called as iteration

If my cursor is able to move one point to other point,

In that case is iteration

l[0] idhula specific index ah mention pandrom idhan index

# Question and Answer

#### 1. All iterables are iterators

True

because string, tuples, list, range, is a iterable

so we say that iterables are iterators

                                                    Completed

                                                                                                Author : Santhosh Kumar