# MAP, REDUCE, FILTER, ZIP

We can use for loop, comprehension's as well, 

idha use pannanumna pannalam, but idhu kandipa pannanumla illa.

#### Map means - Map all the elements

#### Filter means - Filter the elements where condition is true

# Map

Map always takes first argument as a function and second argument as a iterable object. (just press ctrl and space)

for loop seiyura same velaya dhan map function seiyudhu

Without Map function we can use for loop, list comprehension and that also completely fine.

Map is not only use for the list, it will use all the iterables.

In [1]:
l = [1,2,3,4,5, 6]

# I want to add 5 in every numbers with the help of for loop.

l1 = []
for i in l:
    l1.append(i+5)
print(l1)

[6, 7, 8, 9, 10, 11]

In [2]:
# Using list comprehension
[i + 5 for i in l]

[6, 7, 8, 9, 10, 11]

Is it possible to do square operation, root operation and all.

In python, there is a inbuild function which is available in python and that is called as map.

# l = [1,2,3,4,5,6]

can I say that? We can map the certain numbers which is available over l with certain result or certain condition?

We just map it

(1+5,2+5,3+5, 4+5, 5+5, 6+6)

Just type map and press ctrl + space in vs code.

In [3]:
# what I am expecting?

# my expectation is I want to increment each and every number by 5.

# type map and press Ctrl + space
# map function takes two arguments, one is a function, second one is a iterable always
def test(a):
    return a+5

In [4]:
map(test, l)

What if I want to see the result?

    just try to see in list.

In [5]:
list(map(test, l))

[6, 7, 8, 9, 10, 11]

Explanation:

    I want to add 5 in every number.

    By using map function, 

        Map function working : Map function is going to call this (test) particular function, and l is a data.

In [6]:
def test1(a):
    return a*3454+454

In [7]:
map(test1, l)

In [8]:
list(map(test1, l))

[3908, 7362, 10816, 14270, 17724, 21178]

Let suppose our values in string, I want to get in a integer format.

How can we do that?

In [9]:
l1 = ['234', '345', '543', '5435', '543', '5435']

In [10]:
def test2(a):
    return int(a)

Ippa namakku kedaikura output ellame int la kedaikum, we can try to use for loop too,

also we can try to use map function too.

In [11]:
map(test2, l1)

In [12]:
list(map(test2, l1))

[234, 345, 543, 5435, 543, 5435]

We can try to write the any kind of the function outside and we can call it using map function

# Apart from this we can try to write inbuilt function as well

We already talked about lambda function.

Same question ku namma ippa lambda function use panni panna porom.

In [13]:
list(map(lambda x : int(x), l1)) #first argument should be function in map

[234, 345, 543, 5435, 543, 5435]

In [14]:
list(map(lambda x : x+5, l))

[6, 7, 8, 9, 10, 11]

# Filter

In [15]:
l = [4,5,6,7,78,8,78]

Now the problem statement is try to extract the those integer which is the even numbers.

In [16]:
l

[4, 5, 6, 7, 78, 8, 78]

In [17]:
#first just write the external function

def test3(a):
    l = []
    if a%2 == 0:
        l.append(a)
    return l

In [18]:
filter(test3, l)

In [19]:
list(filter(test3, l))

[4, 6, 78, 8, 78]

In [20]:
def test4(a):
    if a%2 == 0:
        return a

In [21]:
#write the function for same problem statement by using list comprehension

[i for i in l if i%2==0]

#can I say that I will be able to filter out all the records?

[4, 6, 78, 8, 78]

In [22]:
filter(test4, l)

In [23]:
list(filter(test4, l))

[4, 6, 78, 8, 78]

In [24]:
# same thing with the help of lambda function

filter(lambda x : x%2==0, l)

In [25]:
list(filter(lambda a : a%2==0, l))

[4, 6, 78, 8, 78]

# Reduce

Reduce function is not in a by default, we have to import that

In [26]:
from functools import reduce

Now my problem statement is summation opertion of entire elements.

In [27]:
l = [3,4,5,6,7,3,8]

sum(l)

36

In [28]:
def test5(a, b):
    return a+b

In [29]:
reduce(test5, l)

36

Reduce function epdi work aagudhu na first 2 arguments ah a and b nu eduthukirum, adhula vara answer ah a nu vachu then next irukka value va b ah vachu pannum.

Ipdiye last varaikum panni answer kondu varum.

Now my problem statement is multiplication.

In [30]:
def test5(a, b):
    return a*b

In [31]:
reduce(test5, l)

60480

In [32]:
# division

def test5(a, b):
    return a/b

In [33]:
reduce(test5, l)

0.0001488095238095238

Let me try using three parameter

In [34]:
def test5(a, b, c):
    return a+b+c

It will not work, because namma output last la answer oda number and adhukku pakathula oru number dhan irukum, c ku number irukadhu adhan error varudhu.

In [35]:
list(filter(test5, l))

TypeError: test5() missing 2 required positional arguments: 'b' and 'c'

In [36]:
#its just a exceptional case
# idhula oru value dhan irukku, second and third value illa
# so by default, it will consider second value as a zero

l=[3]

reduce(test5, l)

3

In [37]:
#is working with 0? No

# Atleast 1 required, more than also not working and zero also not working

l=[]

reduce(test5, l)

TypeError: reduce() of empty iterable with no initial value

In [39]:
def test5(a, b):
    return a+b

l = [8,5,6,7,8,8]

reduce(test5, l)

42

In [40]:
#addition
reduce(lambda x,y : x+y, l)

42

In [41]:
#multiplication
reduce(lambda x,y : x*y, l)

107520

In [43]:
#division
reduce(lambda x,y : x/y, l)

0.0005952380952380952

# Zip

In [44]:
l = [1,2,3,4,5]
l1 = [4,5,6,7,7]

In [45]:
zip(l,l1)

In [46]:
list(zip(l,l1))

[(1, 4), (2, 5), (3, 6), (4, 7), (5, 7)]

In [49]:
s = [1,2,3,4,5,6,7]
s1 = [4,5,6,7,7]

list(zip(s, s1))

[(1, 4), (2, 5), (3, 6), (4, 7), (5, 7)]

In [50]:
l = [1,2,3,4,5]
l1 = [4,5,6,7,7]
l2 = ["sudhanshu", "kumar", "krish", "sunny", "ineuron"]

list(zip(l,l1,l2))

[(1, 4, 'sudhanshu'),
 (2, 5, 'kumar'),
 (3, 6, 'krish'),
 (4, 7, 'sunny'),
 (5, 7, 'ineuron')]

In [51]:
l = [1,2,3,4]
l1 = [4,5,6,7,7]
l2 = ["sudhanshu", "kumar", "krish", "sunny", "ineuron"]

list(zip(l,l1,l2))

[(1, 4, 'sudhanshu'), (2, 5, 'kumar'), (3, 6, 'krish'), (4, 7, 'sunny')]

                                                                    Completed

                                                                                                                            - SANTHOSH KUMAR