Today we are talking about new kind of variable, that is called as tuple

Tuples is like a list but not exactly as a list

In [1]:
t = ()

In [2]:
type(t)

tuple

In [3]:
t = (1,2,3,4,5)

In [4]:
type(t)

tuple

In [5]:
t1 = ("sudh", 345, 45+78j, 546.56, True)

In [6]:
t1

('sudh', 345, (45+78j), 546.56, True)

In [7]:
l = ["sudh", 345, 45+78j, 546.56, True]

In [8]:
l

['sudh', 345, (45+78j), 546.56, True]

In [9]:
type(l)

list

# Properties of tuples

In list its inside in a square bracket

In tuple its inside in a tuple bracket

In [10]:
t2 = ()

In [11]:
type(t2)

tuple

In [12]:
t1

('sudh', 345, (45+78j), 546.56, True)

In [13]:
l

['sudh', 345, (45+78j), 546.56, True]

# slicing

In [14]:
l[0:2] #in list

['sudh', 345]

In [15]:
t1[0:2] #in tuple

('sudh', 345)

how to print entire tuples in reverse order

In [16]:
t1

('sudh', 345, (45+78j), 546.56, True)

In [17]:
t1[::-1]

(True, 546.56, (45+78j), 345, 'sudh')

In [18]:
t1[-1::-1]

(True, 546.56, (45+78j), 345, 'sudh')

In [19]:
# how to get last element

t1[-1]

True

# In tuples, slicing wise exactly same as a list

In [20]:
t1[::2]

('sudh', (45+78j), True)

In [21]:
t1[0::2]

('sudh', (45+78j), True)

# How list and tuples are different

In list we can change the elements, and In tuples we cant able to change the elements.

In [22]:
l

['sudh', 345, (45+78j), 546.56, True]

In [23]:
l1 = [4,5,6,7]

In [24]:
l[0]

'sudh'

I would like to replace the "sudh" into "kumar"

In [25]:
l[0] = "kumar"

In [26]:
l

['kumar', 345, (45+78j), 546.56, True]

In [27]:
t1

('sudh', 345, (45+78j), 546.56, True)

In [28]:
t1[0]

'sudh'

In [29]:
t1[0] = "xyz"

TypeError: 'tuple' object does not support item assignment

# Tuples is a immutable (unchangeble)

In [30]:
# is possible to replace the string character with the help of indexes

#### NO

In [31]:
s = "sudh"

s[0] = "m"

TypeError: 'str' object does not support item assignment

# Its possible to extend in tuples like list

In [32]:
t1

('sudh', 345, (45+78j), 546.56, True)

In [33]:
t2 = (34,56,56,56,5,656)

In [34]:
t1 + t2

('sudh', 345, (45+78j), 546.56, True, 34, 56, 56, 56, 5, 656)

In [35]:
l

['kumar', 345, (45+78j), 546.56, True]

In [36]:
l1

[4, 5, 6, 7]

In [37]:
l + l1

['kumar', 345, (45+78j), 546.56, True, 4, 5, 6, 7]

In [38]:
t1 * 2

('sudh', 345, (45+78j), 546.56, True, 'sudh', 345, (45+78j), 546.56, True)

In [39]:
t1*7

('sudh',
 345,
 (45+78j),
 546.56,
 True,
 'sudh',
 345,
 (45+78j),
 546.56,
 True,
 'sudh',
 345,
 (45+78j),
 546.56,
 True,
 'sudh',
 345,
 (45+78j),
 546.56,
 True,
 'sudh',
 345,
 (45+78j),
 546.56,
 True,
 'sudh',
 345,
 (45+78j),
 546.56,
 True,
 'sudh',
 345,
 (45+78j),
 546.56,
 True)

#### Here I calling my t1, and lets see what's all the inbuild functions available in t1.

just write t1 and press tab, thats all

if we wrote t. and press tab

only 2 functions available (index and count)

but if we wrote l. and press tab, 

there are lot of functions available.

In [40]:
t1

('sudh', 345, (45+78j), 546.56, True)

In [41]:
t1.count(345)

1

In [42]:
t1.index("sudh")

0

In [43]:
t1.find(345)

AttributeError: 'tuple' object has no attribute 'find'

Where we used tuples?

    we all have gmail, fb and so on accounts, we keep changing password in regular basis. 
    
    if we dont want anyone to access the password in the particuar location, so in that case we can try to use tuples.
    
    so that no one will able to change that at any point of the time.
    
    (its just an example, not all our password inside in the tuples)

# Tuple never supports append, extend, insert operation

because tuples is a immutable

#### nested tuple will work (nested tuple means tuples inside the tuples)

In [44]:
t = (45,54,54,5,(4,5,6), ("sudh"))

In [45]:
t

(45, 54, 54, 5, (4, 5, 6), 'sudh')

Inside the tuples we can add multiple type of collections (colletion means list, tuples)

In [46]:
t1 = ([3,4,54,6], ("sd", 435, 56), "usd")

In [47]:
t1

([3, 4, 54, 6], ('sd', 435, 56), 'usd')

we can do list of list of list inside in the tuple, 

tuple of tuple of tuple inside in the tuple, that is preety much possible

#### how to get sd in that tuple of t1?

In [48]:
t1

([3, 4, 54, 6], ('sd', 435, 56), 'usd')

In [49]:
t1[1][0]

'sd'

# Question

is it possible to change 54 to sudh?

In [50]:
t1[0][2] = "sudh"

In [51]:
t1

([3, 4, 'sudh', 6], ('sd', 435, 56), 'usd')

# yes it is possible to change the list value inside the tuple

In [52]:
t1[0] = "sfdsafd" #tuples not assign (because its a tuple)

TypeError: 'tuple' object does not support item assignment

In [53]:
t1[1][1] = "sudh"

TypeError: 'tuple' object does not support item assignment

its not possible to change the values in tuples

# What is the only way to change tuple elements?

In [54]:
t1 = (53,54,9,84,496,469,8,4)

In [55]:
t1 = list(t1)

In [56]:
t1

[53, 54, 9, 84, 496, 469, 8, 4]

In [57]:
t1[7] = "sudh"

In [58]:
t1

[53, 54, 9, 84, 496, 469, 8, 'sudh']

In [59]:
t1 = tuple(t1)

In [60]:
t1

(53, 54, 9, 84, 496, 469, 8, 'sudh')

# SET

Set is a another kind of collection

In [61]:
l = [1,2,3,4,5,6,7,8,9,7,7,7,7,7,7,7,7,7,7,7]

# question

if someone asking can you remove all the duplicate elements in this list

In [62]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7]

In [63]:
l = set(l)

In [64]:
l

{1, 2, 3, 4, 5, 6, 7, 8, 9}

# Set:
    
    Set is a collection which means always hold a unique element.  It will try to remove the duplicates elements by itself.

In [65]:
s = {}

In [66]:
type(s)

dict

In [67]:
s1 = {2,3,4}

In [68]:
type(s1)

set

In [69]:
s2 = {1,1,1,1,1,2,3,4,54,3,3,3,3,3,3}

In [70]:
s2 #we had a duplicate elements but here we got only uniques.

{1, 2, 3, 4, 54}

#### Is it possible to access the all of this elements in s2, by using a slicing operation4

# NO

#### Because set is a unordered collection

In [71]:
s2[0]

TypeError: 'set' object is not subscriptable

I just want to access the 1 in the set s2, how can I do?

Just convert into list, and then access after that convert into the set

In [72]:
s2

{1, 2, 3, 4, 54}

In [73]:
list(s2)

[1, 2, 3, 4, 54]

# Inbuilt function in set (just press tab)

In [74]:
#in build function

s2.add(89777)

In [75]:
s2

{1, 2, 3, 4, 54, 89777}

In [76]:
s2.add("sudh")

In [77]:
s2

{1, 2, 3, 4, 54, 89777, 'sudh'}

#### Is it possible to add a list inside a set?

# NO

Reason is

    Because set always holds unordered collection of the unique elements.
    it just try to find the uniqueness in inbetween not in a primative data type.

In [78]:
s2.add([3,4,5,6])

TypeError: unhashable type: 'list'

In [79]:
s2.add({1,2,3,4})

TypeError: unhashable type: 'set'

In [80]:
{[3,4,5,6], [1,2,7,8,9]}

TypeError: unhashable type: 'list'

# But it will work in tuples collection inside a set

In [81]:
{(3,4,5,6), (1,2,7,8,9)}

{(1, 2, 7, 8, 9), (3, 4, 5, 6)}

Why is it working in tuples only?

#### Problem is mutability and immutability

# Is it going to remove the duplicate tuples inside the set?

In [82]:
{(3,4,5,6), (3,4,5,6), (1,2,7,8,9)}

{(1, 2, 7, 8, 9), (3, 4, 5, 6)}

In [83]:
{(3,4,5,6),(3,4,5,6),3,4,5,3,4,5}

{(3, 4, 5, 6), 3, 4, 5}

# Now we see some other inbuild functions in set

In [84]:
s = {(3,4,5,6),(3,4,5,6),3,4,5,3,4,5}

In [85]:
s

{(3, 4, 5, 6), 3, 4, 5}

#### Remove

In [86]:
s.remove(4)

In [87]:
s

{(3, 4, 5, 6), 3, 5}

#### Discord

In [88]:
s.discard(5) #my 5 is gone,

In [89]:
s

{(3, 4, 5, 6), 3}

# What is the difference between remove and discord operation?

REMOVE - 

    It will remove element
    
DISCARD - 

    It will remove element but only for number, If element is not a number it will not do anything.

In [90]:
s.remove(45) #because 45 namma set la illa adhunaala error kaatudhu

KeyError: 45

In [91]:
s.discard(45) #discard vandhu number ah remove panna use pannuvom, so it will work, namma set la andha number illainaalum work aagum.

# weather set is mutable or immutable?

Its not a mutable not even a immutable

Its a unordered collection, when its a unordered collections, you will not able to get a indexes.

So, if we not able to get a indexes, If not indexes so we will not able to do any kind of manipulation operations.

IN CASE OF A UNORDERED COLLECTION, WE CANT ABLE TO GET ANY INDEXES.
we want to do type conversion into a list or tuple, then we can change.

In [92]:
{"sudh", "sudh"}

{'sudh'}

In [93]:
{"sudh", "Sudh"} #because its a case sensitive

{'Sudh', 'sudh'}

if we want a reverse order in a set elements, we should convert into the list and then we can able to perform.

#### Want to check all inbuild functions in set

In [94]:
s2.clear()

In [95]:
s2

set()

# Set is sorting for not only integers, It will work on both string also.

In [96]:
s = {4,5,6,4,6,8,9,2,6,5,5,5,66,5, "sudh", "sudh", "pudh"}

In [97]:
s

{2, 4, 5, 6, 66, 8, 9, 'pudh', 'sudh'}

# Vikaas asking this question

In [98]:
l = [3,4,5,6]

In [99]:
set(l)

{3, 4, 5, 6}

In [100]:
tuple(l)

(3, 4, 5, 6)

# Dictionary

In dictionary we can store our element in key and values.

In [101]:
d = {}

In [102]:
type(d)

dict

In [103]:
d = {3,4}

In [104]:
type(d)

set

In [105]:
d = {4 : "sudh"}

In [106]:
d.keys()

dict_keys([4])

In [107]:
d.values()

dict_values(['sudh'])

In [108]:
d1 = {"key1" : 5445, "key2" : "sudh", "key3" : [3,4,5,6]}

In [109]:
d1

{'key1': 5445, 'key2': 'sudh', 'key3': [3, 4, 5, 6]}

In [110]:
d1.keys()

dict_keys(['key1', 'key2', 'key3'])

In [111]:
d1.values()

dict_values([5445, 'sudh', [3, 4, 5, 6]])

#### In list, tuple if we want to access any values we use index number, but here we want to use key value

In [112]:
d1[0]

KeyError: 0

In [113]:
d1["key2"]

'sudh'

In [114]:
d1["key1"]

5445

In [115]:
d1["key3"]

[3, 4, 5, 6]

#### Is it going to work if we create a key in special case character?

In [116]:
d = {!3 : ["dsaf", "dfsf", 4,5,6,7,7]}

SyntaxError: invalid syntax (753164606.py, line 1)

In [117]:
d = {@3 : ["dsaf", "dfsf", 4,5,6,7,7]}

SyntaxError: invalid syntax (3162927130.py, line 1)

In [118]:
d = {_3 : ["dsaf", "dfsf", 4,5,6,7,7]}

NameError: name '_3' is not defined

In [119]:
d = {# : ["dsaf", "dfsf", 4,5,6,7,7]}

SyntaxError: unexpected EOF while parsing (3987120711.py, line 1)

#### Special character keys are not going to work, but decimal number will going to work .4 means dot four means decimal four so it will going to work.

#### Special character key will work if we pass in a string like "!4"

In [120]:
d = {.4 : ["dsaf", "dfsf", 4,5,6,7,7]}

# We can store our values in list, tuples, set integer, string,

The difference between set and dictionary is both in curly brackets, but dictionary have a key and value.

If we are not create a key & value pair, in that case that is not consider as a dictionary, that will consider as  a set.

In [121]:
d1 = {"key1" : [2,3,4,5], "key2" : "sudh", "key1" : 45}

In [122]:
d1

{'key1': 45, 'key2': 'sudh'}

In [123]:
d1["key1"]

45

In [124]:
d2 = {"key1" : [2,3,4,5], "key2" : "sudh", "key3" : "sudh"}

In [125]:
d2

{'key1': [2, 3, 4, 5], 'key2': 'sudh', 'key3': 'sudh'}

In [126]:
d1 = {"key1" : [2,3,4,5], "key2" : "sudh", "kumar" : 45}

In [127]:
d1["kumar"]

45

# Can we access key using values

In [128]:
d = {"name" : "sudhanshu", "cell_no" : 21561561656, "mail_id" : "sudhanshu@xyz.com", "key1":[4,5,6,7], "key2" : (3,4,5,6), "key3" : {3,4,5,6,5,5,5,5,5,7,7,7,7,77,7,77,7,7,77,7,77,7,7,7,7}, "key4" : {1:5, 4:6}}

In [129]:
d

{'name': 'sudhanshu',
 'cell_no': 21561561656,
 'mail_id': 'sudhanshu@xyz.com',
 'key1': [4, 5, 6, 7],
 'key2': (3, 4, 5, 6),
 'key3': {3, 4, 5, 6, 7, 77},
 'key4': {1: 5, 4: 6}}

In [130]:
d["key3"]

{3, 4, 5, 6, 7, 77}

In [131]:
type(d["key3"])

set

In [132]:
d["key4"]

{1: 5, 4: 6}

# How to access that 6 in d of key4

In [133]:
d["key4"][4]

6

In [134]:
d.keys()

dict_keys(['name', 'cell_no', 'mail_id', 'key1', 'key2', 'key3', 'key4'])

In [135]:
d.values()

dict_values(['sudhanshu', 21561561656, 'sudhanshu@xyz.com', [4, 5, 6, 7], (3, 4, 5, 6), {3, 4, 5, 6, 7, 77}, {1: 5, 4: 6}])

# d of items will return in a list of tuples

In [136]:
d.items()

dict_items([('name', 'sudhanshu'), ('cell_no', 21561561656), ('mail_id', 'sudhanshu@xyz.com'), ('key1', [4, 5, 6, 7]), ('key2', (3, 4, 5, 6)), ('key3', {3, 4, 5, 6, 7, 77}), ('key4', {1: 5, 4: 6})])

In [137]:
type(d.items())

dict_items

# How to add a new key

#### & how to add a new values for existing keys

In [144]:
d = {"key1" : "sudh", "key2" : [1,2,3,4]}

In [147]:
d["key3"] = "kumar"

In [148]:
d

{'key1': 'sudh', 'key2': [1, 2, 3, 4], 'key3': 'kumar'}

In [151]:
d[4] = [2,4,4,4,5,4]

In [152]:
d

{'key1': 'sudh',
 'key2': [1, 2, 3, 4],
 'key3': 'kumar',
 'key4': 'sd',
 4: [2, 4, 4, 4, 5, 4]}

#### What if we use existing key value

In [153]:
d["key1"] = "dfasdfsadsfasdfasdf"

In [154]:
d

{'key1': 'dfasdfsadsfasdfasdf',
 'key2': [1, 2, 3, 4],
 'key3': 'kumar',
 'key4': 'sd',
 4: [2, 4, 4, 4, 5, 4]}

#### How to change the name of the key

change the name of the key is not available, but we want to delete it.

In [155]:
del d["key1"]

In [156]:
d

{'key2': [1, 2, 3, 4], 'key3': 'kumar', 'key4': 'sd', 4: [2, 4, 4, 4, 5, 4]}

# how to delete the entire dictionary

In [157]:
d

{'key2': [1, 2, 3, 4], 'key3': 'kumar', 'key4': 'sd', 4: [2, 4, 4, 4, 5, 4]}

In [158]:
del d

In [159]:
d

NameError: name 'd' is not defined

In [160]:
d1 = {"key1" : "sudh", "key2" : [4,5,6,7,8]}

#### create a the new key name as a list

Key as a list is not going to work

In [162]:
d1[[1,2,3,4]] = "sudh"

TypeError: unhashable type: 'list'

#### create a new key name as a tuples

Key as a tuples is going to work

In [163]:
d1[(1,2,3,0)] = "sudh"

In [164]:
d1

{'key1': 'sudh', 'key2': [4, 5, 6, 7, 8], (1, 2, 3, 0): 'sudh'}

# Get

In [166]:
d1.get("fsd") #ipdi oru key name illa so run mattum aagi irukku

In [167]:
d1.get("key1")

'sudh'

# Update

In [168]:
d1 = {"key1" : "ineuron", "key2" : "fsds"}

In [169]:
d2 = {"key3" : 456, "key4" : [1,2,3,4,5]}

In [170]:
d1.update(d2)

In [171]:
d1

{'key1': 'ineuron', 'key2': 'fsds', 'key3': 456, 'key4': [1, 2, 3, 4, 5]}

In [172]:
d2.update(d1)

In [173]:
d2

{'key3': 456, 'key4': [1, 2, 3, 4, 5], 'key1': 'ineuron', 'key2': 'fsds'}

In [174]:
d1 + d2

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

#### What is the difference between d1["key1"] & d1.get("key1")

In [175]:
d1["key1"]

'ineuron'

In [176]:
d1.get("key1")

'ineuron'

Here, we got a same output, but d1 la wrong ah key name pota error varum, but get la wrong ah key name pota run aagum but oru answer um varadhu

# From keys

What from keys will do is if I want to create a complete dictionary, multiple keys and multiple values we can use fromkeys.

In [178]:
d1 = {'key1': 'ineuron', 'key2': 'fsds'}

In [179]:
key = ("name", "mobile_no", "email_id")
value = "sudh"

In [180]:
d = d1.fromkeys(key, value)

In [181]:
d

{'name': 'sudh', 'mobile_no': 'sudh', 'email_id': 'sudh'}

# Index

Many members asked this question

In [182]:
t1 = (1,2,3,4,"fsds", True)

t1.index(True)

0

Answer 0 vandhu irukku adhukku reason vandhu True na 1, so index of 1 vandhu 0 place la irukky, adhunaala dhan 0 nu answer vandhu irukku.