# If Else Statement

In [1]:
a = 10

if a is equal to 10, only in that case try to perform something.

In [4]:
a < 15

True

if it is going to return me true in that case whatever im writing inside the print statement that will executed.

If it is going to be a false it will not execute whatever we are write inside the print statement.

In [9]:
if a < 15:
    print("a is less than 15")

a is less than 15

In [11]:
if a < 15:
    print("my name is sudhanshu")

my name is sudhanshu

if we not write colon in if condition line, it will give syntax error.

In [12]:
if a < 15
    print("my name is sudhanshu")

SyntaxError: invalid syntax (2526725337.py, line 1)

In [13]:
if a < 15: #it will show error because this condition is true but we did not give any execution statement.

IndentationError: expected an indented block (4019363808.py, line 1)

# what if i dont want to do anything even condition is true?

In [14]:
if a < 15:
    pass

In [15]:
if a > 20:
    pass

In [17]:
24 < 15

False

In [16]:
if 24 < 15:
    print("my name is sudh")

In [18]:
if 10 < 3:
    print("10 is lesser than 3")
    
else:
    print("if statement is wrong")

if statement is wrong

In [20]:
if 5 < 10:
    print("5 is lesser than 10")
    
else:
    print("if statement is wrong")

5 is lesser than 10

indentation is important

In [21]:
if 5 < 10:
print("5 is lesser than 10")
    
else:
print("if statement is wrong")

IndentationError: expected an indented block (3370069194.py, line 2)

# Question

#### Write a code based on my income for my purchasing capability.

In [22]:
income = 100

if income < 50:
    print("I will be able to buy phone")
elif income < 70:
    print("I will be able to buy car")
elif income < 90:
    print("I will be able to buy a house")
else:
    print("I wont be able to buy anything")

I wont be able to buy anything

#### try this code in user input

In [23]:
income = int(input("Enter income : "))

if income < 50:
    print("I will be able to buy phone")
elif income < 70:
    print("I will be able to buy car")
elif income < 90:
    print("I will be able to buy a house")
else:
    print("I wont be able to buy anything")

Enter income : 10
I will be able to buy phone

# Question

Sell a one neuron course with a discount.

In [27]:
total_price = int(input())

if total_price > 20000:
    discount = total_price * 0.20
    print("Discount will be ", discount)
    
elif total_price <= 7000:
    discount = total_price * 0.05
    print("Discount will be ", discount)
    
else:
    print("Wont able to give any discount")

7000
Discount will be  350.0

In [28]:
total_price = int(input())

if total_price > 20000:
    discount = total_price * 0.20
    print("Discount will be ", discount)
    
elif total_price <= 7000:
    discount = total_price * 0.05
    print("Discount will be ", discount)
    
else:
    print("Wont able to give any discount")

5894
Discount will be  294.7

In [29]:
total_price = int(input())

if total_price > 20000:
    discount = total_price * 0.20
    print("Discount will be ", discount)
    
elif total_price <= 7000:
    discount = total_price * 0.05
    print("Discount will be ", discount)
    
else:
    print("Wont able to give any discount")

352
Discount will be  17.6

In [30]:
total_price = int(input())

if total_price > 20000:
    discount = total_price * 0.20
    print("Discount will be ", discount)
    
elif total_price <= 7000:
    discount = total_price * 0.05
    print("Discount will be ", discount)
    
else:
    print("Wont able to give any discount")

4565
Discount will be  228.25

# Question

#### Coupon Code

In [33]:
course_name = input("Enter course name")
coupon_code = input("Enter coupon : ")

course_amount = 10000
if course_name == "Data Analysis" and coupon_code == "Krish10":
    discount = course_amount * 1.0
    print("discount is", discount)
    print("Get this course free")
    
elif course_name == "Data Science" and coupon_code == "Krish10":
    discount = course_amount * 0.50
    print("discount is", discount)
    print("Get this course 50 percent offer")

Enter course nameData Analysis
Enter coupon : Krish10
discount is 10000.0
Get this course free

In [34]:
course_name = input("Enter course name")
coupon_code = input("Enter coupon : ")

course_amount = 10000
if course_name == "Data Analysis" and coupon_code == "Krish10":
    discount = course_amount * 1.0
    print("discount is", discount)
    print("Get this course free")
    
elif course_name == "Data Science" and coupon_code == "Krish10":
    discount = course_amount * 0.50
    print("discount is", discount)
    print("Get this course 50 percent offer")

Enter course nameData Science
Enter coupon : Krish10
discount is 5000.0
Get this course 50 percent offer

In [35]:
"sudh" == "sudh"

True

In [37]:
Coup = "SUDHANSHU5"

if Coup == "SUDHANSHU5":
    print("You will be able to get a discount of 5%")
    paid_amount = 10000 - 10000 * 0.05
    print("You will able to get a one neuron course with this amount", paid_amount)

You will be able to get a discount of 5%
You will able to get a one neuron course with this amount 9500.0

In [38]:
Coup = "SUDHANSHU5"

if Coup == "SUDHANSHU5":
    print("You will be able to get a discount of 5%")
    paid_amount = 10000 - 10000 * 0.05
    print("You will able to get a one neuron course with this amount", paid_amount)
    
else:
    print("Kindly please enter a valid coupon code")

You will be able to get a discount of 5%
You will able to get a one neuron course with this amount 9500.0

In [40]:
Coup = input("Enter coupon code : ")

print(Coup)
if Coup == "SUDHANSHU5":
    print("You will be able to get a discount of 5%")
    paid_amount = 10000 - 10000 * 0.05
    print("You will able to get a one neuron course with this amount", paid_amount)
    
else:
    print("Kindly please enter a valid coupon code")

Enter coupon code : sant
sant
Kindly please enter a valid coupon code

# Question

#### Plan my study

In [55]:
study_hour = int(input("Enter study hour : "))

if study_hour < 1:
    print("it may take 8-9 month of time to make a transition")
    
elif study_hour > 1 and study_hour <= 4:
    print("it may take 6 month for transition")
    
elif study_hour >= 10 and study_hour <= 16:
    print("it may take 3 month for transition")
    
elif study_hour > 16:
    print("It will be difficult for your mental health")

Enter study hour : 16
it may take 3 month for transition

In [59]:
study_hour = int(input("Enter study hour : "))

if study_hour < 1:
    print("it may take 8-9 month of time to make a transition")
    
elif study_hour > 1 and study_hour <= 4:
    print("it may take 6 month for transition")
    
elif study_hour >= 10 and study_hour < 16:
    print("it may take 3 month for transition")
    
elif study_hour >= 16:
    print("It will be difficult for your mental health")

Enter study hour : 16
It will be difficult for your mental health

In [60]:
#not write a code in a single line

a = 9

if a == 9: print("valid")

valid

# DOUBT

# Lets try to understand if inside if, elif inside if and so on.

We do not have a switch statement in python like c and c++.

In [71]:
s = input("Enter a string to start : ")
course = input("Enter a course name : ")
service = input("Enter a service name : ")

if s == "oneneuron":
    if course == "DSA":
        print("yes its available under one neuron and in multiple mode for job preparation and core concept")
    
    elif course == "Blockchain":
        print("this is not available as of now, kindly raise your demand and we will fulfill in 60 days")

    elif course =="FSDS":
        print("yes its available, you can start learning")
        
    else:
        print("this course is not available kindly raise your demand")
        
elif s == "oneneuronservice":
    if service == "coursequest":
        print("NOTE : Dear Learner, you can raise your demand related to any of this course.....")
    elif service == "module":
        print("NOTE :Dear Learner, you can raise your demand related to any of this module")
    elif service == "doubt":
        print("NOTE :Dear Learner, you can raise your demand related to any of this doubt")
    elif service == "workwithus":
        print("You can work with us, HR will contact you soon")
else:
    print("kindly connect with our team")

Enter a string to start : oneneuron
Enter a course name : asdf
Enter a service name : doubt
this course is not available kindly raise your demand

# Single equal to = means assign

# Double equal to == means compare

# Lets try to learn & understand

another thing called as while loop, for loop, nested while loop, break statement, continue statement

# While statement

Before see while loop we can see for loop

# For Loop

one by one I can access something in some of the collections, in some of the variables, using for loop .

In [72]:
l = [1,2,3,4,5,6,7]

# Question

How to extract this number one by one.

In [74]:
l

[1, 2, 3, 4, 5, 6, 7]

In [73]:
for i in l:
    print(i)

1
2
3
4
5
6
7

In [91]:
s = "sudh"

for i in s:
    print(i)

s
u
d
h

In [92]:
for i in "america":
    print(i)

a
m
e
r
i
c
a

In [93]:
t = (1,2,3,4,5,6,6,6,6,6)

for i in t:
    print(i)

1
2
3
4
5
6
6
6
6
6

In [94]:
l = [1, 4, 5.6, 4+7j, "sudh"]

for i in l:
    print(i)

1
4
5.6
(4+7j)
sudh

# Question :

Print the all element data types of l.

In [95]:
l

[1, 4, 5.6, (4+7j), 'sudh']

In [100]:
for i in l:
    print(i, "----->", type(i))

1 -----> <class 'int'>
4 -----> <class 'int'>
5.6 -----> <class 'float'>
(4+7j) -----> <class 'complex'>
sudh -----> <class 'str'>

In [101]:
for i in l:
    print(f"{i}, ----->, {type(i)}")

1, ----->, <class 'int'>
4, ----->, <class 'int'>
5.6, ----->, <class 'float'>
(4+7j), ----->, <class 'complex'>
sudh, ----->, <class 'str'>

# Question

Add 2 in each and every elements of list.

In [102]:
l = [1,2,3,4,5.6]

for i in l:
    print(i+2)

3
4
5
6
7.6

In [108]:
# try to perform the addition operation and return me in a list

l = [1,2,3,4,5.6]

l1=[]

for i in l:
    l1.append(i+2)
l1

[3, 4, 5, 6, 7.6]

# Question

Filiter out the integer out of the list

In [116]:
l = [2,45,78, 12, 33.77777777, "sudh", 6+7j, [1,2,3,45,77], 52, 23, 25, 22, 17]

for i in l:
    if type(i) == int:
        print(i)

2
45
78
12
52
23
25
22
17

In [115]:
l = [2,45,78, 12, 33.77777777, "sudh", 6+7j, [1,2,3,45,77], 52, 23, 25, 22, 17]

int_list = []

for i in l:
    if type(i) == int:
        int_list.append(i)
int_list

[2, 45, 78, 12, 52, 23, 25, 22, 17]

In [118]:
#here we got list too

l = [2,45,78, 12, 33.77777777, "sudh", 6+7j, [1,2,3,45,77], 52, 23, 25, 22, 17]

for i in l:
    if type(i) == int:
        print(i)
        
    elif type(i) == list:
        for j in i:
            print(j)

2
45
78
12
1
2
3
45
77
52
23
25
22
17

# FOR ELSE STATEMENT

This statement available in only python language, not available in any other languages.

# Homework

### l = [2,45,78,12,"sudh", 6+7j, [56,67,78,"dsdfdas"]]

#### Question no. 1

    Try to print index of all the element
    
#### Question no. 2

    Try to extract all the list of character if the element is string
    
#### Question no. 3

    Try to return a list after doing a square of all the int elements

#### Question no.1

In [157]:
#Try to print index of all the element (my answer)
#enumerate also we can use

l = [2,45,78,12,"sudh", 6+7j, [56,67,78,"dsdfdas"]]

for i in range(len(l)):
    print("index", i, "for an element", l[i]) #l[0] na 2, l[1] na 45 indha madhiri dhan l[i] um

index 0 for an element 2
index 1 for an element 45
index 2 for an element 78
index 3 for an element 12
index 4 for an element sudh
index 5 for an element (6+7j)
index 6 for an element [56, 67, 78, 'dsdfdas']

In [158]:
for i in enumerate(l):
    print(i)

(0, 2)
(1, 45)
(2, 78)
(3, 12)
(4, 'sudh')
(5, (6+7j))
(6, [56, 67, 78, 'dsdfdas'])

#### Question No. 2

# DOUBT KEKANUM

In [163]:
# Try to extract all the list of character if the element is string (my answer)

l = [2,45,78,12,"sudh", 6+7j, [56,67,78,"dsdfdas"]]

for i in l:
    if type(i) == str:
        print(i)

sudh

In [172]:
l = [2,45,78,12,"sudh", 6+7j, [56,67,78,"dsdfdas"]]

for i in l:
    if type(i) == str:
        l1 = []
        for j in i: #if it is a string in above condition, we iterating here, thats why this line code
            l1.append(j)
        print(l1)

['s', 'u', 'd', 'h']

In [173]:
l = [2,45,78,12,"sudh", 6+7j, [56,67,78,"dsdfdas"], "kumar"]

for i in l:
    if type(i) == str:
        l1 = []
        for j in i:
            l1.append(j)
        print(l1)

['s', 'u', 'd', 'h']
['k', 'u', 'm', 'a', 'r']

#### Question No. 3

In [160]:
# Try to return a list after doing a square of all the int elements (my answer)

l = [2,45,78,12,"sudh", 6+7j, [56,67,78,"dsdfdas"]]

square_list = []
for i in l:
    if type(i) == int:
        square_list.append(i**2)
        
square_list

[4, 2025, 6084, 144]

In [161]:
l = [1, 2, 3, 4, 5, 6, 7,7,7,7,7,7]

In [162]:
count = 0

for i in l:
    count = count + 1
print(count)

12